<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @test_passage.body %>
</p>

<%= link_to 'Edit', edit_test_passage_path(@test_passage) %> |
<%= link_to 'Back', test_passages_path %>
