<footer>
  <center>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <hr>
    <p>Mariia Butorina © <%= Date.today.year %></p>
    <a href="https://github.com/ponchik4/TestGuru.git">GitHub, если хочешь посмотреть как</a>
    <br>
    <a href="http://thinknetica.com">Thinknetica учит меня</a>
  </center>
</footer>
