<%= render 'shared/nav' %>
<h1><%= I18n.t('tests.index.header')%></h1>

<table>
  <tr>
    <th>Title</th>
    <th>Level</th>
    <th>Question</th>
    <th>Actions</th>
  </tr>

  <%= render @tests %>
</table>
